[saturation_recovery]

xlabel= Evolution Time T1 [s]
ylabel = Signal Intensity (a.u.)
title= Saturation Recovery
__marker = o
__fillstyle = None

[polarization_buildup]

xlabel= Contact Time t$_c$ [s]
ylabel = Signal Intensity (a.u.)
title= Polarization Build-Up
__marker = o
__fillstyle = none

[dnp_enhancement_profile_f]

xlabel= Frequency [GHz]
ylabel = DNP Intensity (a.u.)
title= DNP Enhancement Profile

[eldor_profile]

xlabel= Frequency [GHz]
ylabel = ELDOR Intensity (a.u.)
title= ELDOR Spectrum

[echo_decay]

xlabel= Decay Time [s]
ylabel = Signal Intensity (a.u.)
title= Echo Decay
__marker = o
__fillstyle = none

[enhancements_P]

xlabel= Microwave Power (dBm)
ylabel = DNP Enhancements
title= DNP Enhancement Power Build-Up
__marker = o
__fillstyle = none
#ax.set_facecolor = #00ff00
#fig.set_facecolor = #ffff7f

[enhancements_PdBm]

xlabel= Microwave Power (dBm)
ylabel = DNP Enhancements
title= DNP Enhancement Power Build-Up
__marker = o
__fillstyle = none

[enhancements_PW]

coord_scaling = 1e-3
xlabel= Microwave Power (W)
ylabel = DNP Enhancement
title = DNP Enhancement Power Build-Up
__marker = o
__fillstyle = none

[epr_spectrum]

xlabel = Magnetic Field $B_{0}$ (mT)
ylabel = EPR Signal Intensity (a.u.)
title =
showPar = True
